* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(https://gen.jut.su/chakranature/background_main.dark.jpg);
  background-size: 200%;
  background-position: center;
  background-attachment: fixed;
}

.home_panel {
  width: 80%;
  padding: 5px;
  margin: auto;
  display: flex;
  border-radius: 10px;
  margin-top: 10rem;
  align-items: center;
  background: linear-gradient(to bottom, #334633 0%, #1c341c 100%);
  justify-content: space-around;
  box-shadow: 2px 2px 3px 0 #394439;
}

.home_logo {
  width: 50px;
  height: 50px;
  font-size: 11px;
  cursor: pointer;
  color: #e6fccc;
  margin-left: 3rem;
  border-radius: 50%;
  background-color: #212722;
  box-shadow: 1px 1px 0 0 #1f1f1f, inset 1px 1px 1px #606661;
}

.home_input {
  width: 30%;
  height: 35px;
  padding: 0 25px;
  border-radius: 10px;
  background: #2f312b;
  border: 1px solid #a0b771;
}

.home_find {
  width: 94px;
  height: 30px;
  font-size: 17px;
  cursor: pointer;
  color: #bfd3a8;
  border-radius: 7px;
  margin-left: -3rem;
  border-color: #4e5b33;
  border: 1px solid #8ea65c;
  background: linear-gradient(to bottom, #3d4629 0%, #272b1e 100%);
}

.home_plus {
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: #617c42;
  border-radius: 50%;
  background-color: #212722;
}

.home_vk {
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #617c42;
  border-radius: 50%;
  background-color: #212722;
}

.home_youtub {
  width: 45px;
  height: 45px;
  cursor: pointer;
  color: #617c42;
  border-radius: 50%;
  background-color: #212722;
}

.home_content {
  margin: 0 10%;
  background-color: #1f1f1f;
  border-left: 3px solid #3c4c40;
  border-right: 3px solid #3c4c40;
  border-radius: 10px 10px 30px 30px;
}

/* .home_content_right {
  margin-left: 20px;
  margin-right: 20px;
} */

.home_content_text {
  display: flex;
  color: #b6b6bd;
  text-decoration: none;
  flex-direction: column;
}

.home_content_a {
  color: #b6b6bd;
  text-decoration: none;
}

.home_content_right {
  display: flex;
  margin-right: 13px;
  align-items: flex-end;
  flex-direction: column;
}

.home_content_right_child-1 {
  width: 18%;
  padding: 15px;
  text-align: left;
  margin-top: -30rem;
  margin-bottom: 3%;
  line-height: 25px;
  border-radius: 10px;
  background: #363a37;
  box-shadow: 2px 2px 3px #535f53, inset 1px 1px 1px #535f53;
}

.home_content_right_child-2 {
  width: 18%;
  padding: 15px;
  color: #b6b6bd;
  border-radius: 10px;
  margin-bottom: 10rem;
  background: #363a37;
  box-shadow: 2px 2px 3px #535f53, inset 1px 1px 1px #535f53;
}

.home_content_down {
  height: 50px;
  text-align: center;
}

.home_down {
  color: #bee6c3;
  font-size: 14px;
  margin-right: 15px;
  text-decoration: none;
}

.login_panel {
  display: block;
  width: 20%;
  height: 35%;
  padding: 20px;
  position: absolute;
  background: #334633;
  border-radius: 10px;
}

.login_panel_input {
  display: flex;
  flex-direction: column;
}

.login_input_1 {
  display: block;
  width: 250px;
  height: 35px;
  border: 1px solid #a0b771;
  box-shadow: 1px 1px 1px #96ad65, inset 1px 1px 1px #fff;
  color: #5d7637;
  font: 15px/1.3 Arial;
  border-radius: 6px;
  margin-bottom: 10px;
}

.login_input_2 {
  display: block;
  width: 250px;
  height: 35px;
  border: 1px solid #a0b771;
  box-shadow: 1px 1px 1px #96ad65, inset 1px 1px 1px #fff;
  color: #5d7637;
  font: 15px/1.3 Arial;
  border-radius: 6px;
  margin-bottom: 40px;
}

.login_panel_botton {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.login_panel_btn {
  width: 100%;
  height: 2rem;
  /* margin-left: 27px; */
  margin-bottom: 5px;
  background: linear-gradient(to bottom, #3d4629 0%, #272b1e 100%);
  border-radius: 7px;
  font-size: 17px;
  cursor: pointer;
  color: #bfd3a8;
  border-color: #4e5b33;
  box-shadow: 1px 1px 1px #1f1f1f, inset 1px 1px 1px #536038;
}

.login_panel_p {
  display: flex;
  justify-content: flex-end;
  color: #bee6c3;
}
